mqtt_esp32_v0.1/flows.json
[
    {
        "id": "1fa10bb8a783fcbf",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9993171bdb5a5c2e",
        "type": "mqtt out",
        "z": "1fa10bb8a783fcbf",
        "name": "Send_MQTT",
        "topic": "214hoSmartHome/in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ed52a6d6c523f8d",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "8ddb65a26e5c1c8d",
        "type": "ui_switch",
        "z": "1fa10bb8a783fcbf",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d6e8696a7e21853e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "214hoSmartHome/in",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 80,
        "y": 320,
        "wires": [
            [
                "5418733aceee021b",
                "972207ede4d6a388",
                "9993171bdb5a5c2e"
            ]
        ]
    },
    {
        "id": "5418733aceee021b",
        "type": "debug",
        "z": "1fa10bb8a783fcbf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "972207ede4d6a388",
        "type": "ui_text",
        "z": "1fa10bb8a783fcbf",
        "group": "d6e8696a7e21853e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "3ed52a6d6c523f8d",
        "type": "mqtt-broker",
        "name": "214ho_broker",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d6e8696a7e21853e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d90f0cbfdada5de5",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d90f0cbfdada5de5",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]